:root {
    --primary-color: rgb(69, 198, 91);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dad5d5;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#timer{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
#questionCounter{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 700;
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
}

main {
    width: 90%;
    height: fit-content;
    max-height: 520px;
    margin: 10px auto 4px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(13, 34, 1, .1);
    position: relative;
}

.container {
    width: 100%;
    max-height:500px;
}

.exam-content {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.question {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.question h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #000000;
}

.choices {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.choices label {
    display: block;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.choices input {
    margin-right: 10px;
}

.choices label:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buttons button {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    font-weight: 700;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buttons #prevButton,
#markButton {
    color: #000000a4;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    font-weight: 500;
}

.buttons button:hover {
    transform: scale(1.1);
}

.timer {
    text-align: right;
    font-size: 1em;
    color: #000000;
    margin-top: 20px;
}

.mark-list {
    width: 35%;
    max-height: 400px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.mark-list h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.marked-question {
    background-color: #e0e0e0;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.marked-question:hover {
    background-color: #d0d0d0;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.marked-question button {
    background: none;
    font-size: 18px;
    margin-left: 65%;
    border: none;
    color: rgb(255, 0, 0);
    font-weight: bold;
    cursor: pointer;
}

.marked-question button:hover {
    scale: 1.3;
}

#submitButton {
    color: rgb(255, 255, 255);
    font-weight: 700;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: var(--primary-color);
    position: absolute;
    top:87%;
    left: 25%;
    margin: 10px auto;
    scale: 1.1;
}
#submitButton:hover{
    box-shadow: 0 0 5px var(--primary-color);
    scale: 1.2;

}


.timeout-page,
.grades-page {
    display: none;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.timeout-page h2,
.grades-page h2 {
    text-align: center;
    font-size: 3em;
    color: #000000;
}

.timeout-page p,
.grades-page p {
    text-align: center;
    font-size: 2.2em;
    color: #272727;
}

.grades-page .percentage {
    font-size: 2em;
    color: #66874baf;
    margin-top: 20px;
}
.percentage{
    font-size: 30px;
}

progress {
    width: 100%;
    height: 10px;
    background-color: #eee;
}